EMAIL_HOST_USER=greenbacksjobexhibition@gmail.com
EMAIL_HOST_PASSWORD=hcnvqyqyvzlbcdwt
EMAIL_OTP_EXPIRY_MINUTES=10
EMAIL_OTP_RESEND_COOLDOWN_SECONDS=60
EMAIL_OTP_MAX_ATTEMPTS=5

DB_ENGINE=django.db.backends.mysql
DB_NAME=u529002218_advasi_pduct99
DB_USER=u529002218_advasi_pduct99
DB_PASSWORD=
DB_HOST=srv685.hstgr.io
DB_PORT=3306
